*{
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    padding: 10px;
}

table{
    margin-top: 10px;
    border: 1px solid blue;
}

table th,
td{
    border: 1px solid blue;
}

.well{
    display: flex;
    flex-direction: column;
    
}

.well input{
    max-width: 450px;
    margin-bottom: 5px;
    border-radius: 5px ;
    border-color: #ccc;
    padding: 5px;
}

.well label{
    color: #555;
}

.btn-primary{
    width: 100px;
    margin-top: -30px;
    margin-left: 160px;
    
}

.input-group{
    margin-bottom: 15px;
}

.input-group span{
    width: 30px;
    
}

.input-group span span{
    margin-left: -10px;;
}


